@use '../base/variables' as *;
@use '../base/mixins' as *;

.searchWrapper {
  @include container;
  display: flex;
  justify-content: center;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-lg;
}

.searchInput {
  @include inputBase;
  width: 50%;
  max-width: 400px;
  min-width: 200px;
}